In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel("2017_raw_08062019.xlsx")

In [3]:
df.head()

,O_Country_ID,O_Country,O_City,O_Terminal,D_Country_ID,D_Country,D_City,D_Terminal,Carrier_ID,Carrier,...,Thursday,Friday,Saturday,Sunday,Number of departures per week,Transport time (days),O_City_Longitude,O_City_Latitude,D_City_Longitude,D_City_Latitude
0,BE033,Belgium,Antwerp,PSA Terminals (Noordzee / Europa / Deurganck),NL050,Netherlands,Terneuzen,Zeeland Container Terminal,P238,United Container Transport (UCT),...,1,1,0,0,5,1,4.399708,51.22111,3.840311,51.325474
1,BE033,Belgium,Antwerp,PSA Terminals (Noordzee / Europa / Deurganck),NL087,Netherlands,Terneuzen,Outokumpu Terminal,P238,United Container Transport (UCT),...,1,1,0,0,5,1,4.399708,51.22111,3.840311,51.325474
2,BE033,Belgium,Antwerp,PSA Terminals (Noordzee / Europa / Deurganck),NL088,Netherlands,Terneuzen,Mammoet Multipurpose Terminal Westdorpe,P238,United Container Transport (UCT),...,1,1,0,0,5,1,4.399708,51.22111,3.840311,51.325474
3,BE044,Belgium,Antwerp,Associated Terminal Operator (ATO) (Quay 364),NL050,Netherlands,Terneuzen,Zeeland Container Terminal,P238,United Container Transport (UCT),...,1,1,0,0,5,1,4.399708,51.22111,3.840311,51.325474
4,BE044,Belgium,Antwerp,Associated Terminal Operator (ATO) (Quay 364),NL087,Netherlands,Terneuzen,Outokumpu Terminal,P238,United Container Transport (UCT),...,1,1,0,0,5,1,4.399708,51.22111,3.840311,51.325474

In [4]:
df.iloc[:,6:].head()

,D_City,D_Terminal,Carrier_ID,Carrier,Transportation mode,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday,Number of departures per week,Transport time (days),O_City_Longitude,O_City_Latitude,D_City_Longitude,D_City_Latitude
0,Terneuzen,Zeeland Container Terminal,P238,United Container Transport (UCT),Inland shipping,1,1,1,1,1,0,0,5,1,4.399708,51.22111,3.840311,51.325474
1,Terneuzen,Outokumpu Terminal,P238,United Container Transport (UCT),Inland shipping,1,1,1,1,1,0,0,5,1,4.399708,51.22111,3.840311,51.325474
2,Terneuzen,Mammoet Multipurpose Terminal Westdorpe,P238,United Container Transport (UCT),Inland shipping,1,1,1,1,1,0,0,5,1,4.399708,51.22111,3.840311,51.325474
3,Terneuzen,Zeeland Container Terminal,P238,United Container Transport (UCT),Inland shipping,1,1,1,1,1,0,0,5,1,4.399708,51.22111,3.840311,51.325474
4,Terneuzen,Outokumpu Terminal,P238,United Container Transport (UCT),Inland shipping,1,1,1,1,1,0,0,5,1,4.399708,51.22111,3.840311,51.325474

In [5]:
# Algorithm terminal layout 2 for saving the latitude and longitude value to be called when making dataframe
dict_loc_origin = {df['O_City'][x]:(df['O_City_Latitude'][x], df['O_City_Longitude'][x]) for x in range(len(df))}
dict_loc_destination = {df['D_City'][x]:(df['D_City_Latitude'][x], df['D_City_Longitude'][x]) for x in range(len(df))}

In [6]:
# Sum untuk quantify jumlah departure per week dan transport time days
# Count untuk menghitung jumlah service
df_group = df.groupby(by=["O_City","D_City","Transportation mode","Carrier"]).count()

In [7]:
df_group.head()

                                                         O_Country_ID  \
O_City  D_City      Transportation mode Carrier
Aalborg Aarhus      Sea                 CMA-CGM                     1
        Bremerhaven Sea                 CMA-CGM                     2
        Copenhagen  Sea                 CMA-CGM                     1
        Fredericia  Sea                 CMA-CGM                     1
        GÃ¶teborg    Sea                 X-Press Feeders             1

                                                         O_Country  \
O_City  D_City      Transportation mode Carrier
Aalborg Aarhus      Sea                 CMA-CGM                  1
        Bremerhaven Sea                 CMA-CGM                  2
        Copenhagen  Sea                 CMA-CGM                  1
        Fredericia  Sea                 CMA-CGM                  1
        GÃ¶teborg    Sea                 X-Press Feeders          1

                                                         O_Terminal  \
O_City  D_City      Transportation mode Carrier
Aalborg Aarhus      Sea                 CMA-CGM                   1
        Bremerhaven Sea                 CMA-CGM                   2
        Copenhagen  Sea                 CMA-CGM                   1
        Fredericia  Sea                 CMA-CGM                   1
        GÃ¶teborg    Sea                 X-Press Feeders           1

                                                         D_Country_ID  \
O_City  D_City      Transportation mode Carrier
Aalborg Aarhus      Sea                 CMA-CGM                     1
        Bremerhaven Sea                 CMA-CGM                     2
        Copenhagen  Sea                 CMA-CGM                     1
        Fredericia  Sea                 CMA-CGM                     1
        GÃ¶teborg    Sea                 X-Press Feeders             1

                                                         D_Country  \
O_City  D_City      Transportation mode Carrier
Aalborg Aarhus      Sea                 CMA-CGM                  1
        Bremerhaven Sea                 CMA-CGM                  2
        Copenhagen  Sea                 CMA-CGM                  1
        Fredericia  Sea                 CMA-CGM                  1
        GÃ¶teborg    Sea                 X-Press Feeders          1

                                                         D_Terminal  \
O_City  D_City      Transportation mode Carrier
Aalborg Aarhus      Sea                 CMA-CGM                   1
        Bremerhaven Sea                 CMA-CGM                   2
        Copenhagen  Sea                 CMA-CGM                   1
        Fredericia  Sea                 CMA-CGM                   1
        GÃ¶teborg    Sea                 X-Press Feeders           1

                                                         Carrier_ID  Monday  \
O_City  D_City      Transportation mode Carrier
Aalborg Aarhus      Sea                 CMA-CGM                   1       1
        Bremerhaven Sea                 CMA-CGM                   2       2
        Copenhagen  Sea                 CMA-CGM                   1       1
        Fredericia  Sea                 CMA-CGM                   1       1
        GÃ¶teborg    Sea                 X-Press Feeders           1       1

                                                         Tuesday  Wednesday  \
O_City  D_City      Transportation mode Carrier
Aalborg Aarhus      Sea                 CMA-CGM                1          1
        Bremerhaven Sea                 CMA-CGM                2          2
        Copenhagen  Sea                 CMA-CGM                1          1
        Fredericia  Sea                 CMA-CGM                1          1
        GÃ¶teborg    Sea                 X-Press Feeders        1          1

                                                         Thursday  Friday  \
O_City  D_City      Transportation mode Carrier
Aalborg Aarhus      Sea                 CMA-CGM                 1       1
        Bremerhaven Sea                 CMA-CGM                 2       2
        Copenhagen  Sea                 CMA-CGM                 1       1
        Fredericia  Sea                 CMA-CGM                 1       1
        GÃ¶teborg    Sea                 X-Press Feeders         1       1

                                                         Saturday  Sunday  \
O_City  D_City      Transportation mode Carrier
Aalborg Aarhus      Sea                 CMA-CGM                 1       1
        Bremerhaven Sea                 CMA-CGM                 2       2
        Copenhagen  Sea                 CMA-CGM                 1       1
        Fredericia  Sea                 CMA-CGM                 1       1
        GÃ¶teborg    Sea                 X-Press Feeders         1       1

                                                         Number of departures per week  \
O_City  D_City      Transportation mode Carrier
Aalborg Aarhus      Sea                 CMA-CGM                                      1
        Bremerhaven Sea                 CMA-CGM                                      2
        Copenhagen  Sea                 CMA-CGM                                      1
        Fredericia  Sea                 CMA-CGM                                      1
        GÃ¶teborg    Sea                 X-Press Feeders                              1

                                                         Transport time (days)  \
O_City  D_City      Transportation mode Carrier
Aalborg Aarhus      Sea                 CMA-CGM                              1
        Bremerhaven Sea                 CMA-CGM                              2
        Copenhagen  Sea                 CMA-CGM                              1
        Fredericia  Sea                 CMA-CGM                              1
        GÃ¶teborg    Sea                 X-Press Feeders                      1

                                                         O_City_Longitude  \
O_City  D_City      Transportation mode Carrier
Aalborg Aarhus      Sea                 CMA-CGM                         0
        Bremerhaven Sea                 CMA-CGM                         0
        Copenhagen  Sea                 CMA-CGM                         0
        Fredericia  Sea                 CMA-CGM                         0
        GÃ¶teborg    Sea                 X-Press Feeders                 0

                                                         O_City_Latitude  \
O_City  D_City      Transportation mode Carrier
Aalborg Aarhus      Sea                 CMA-CGM                        0
        Bremerhaven Sea                 CMA-CGM                        0
        Copenhagen  Sea                 CMA-CGM                        0
        Fredericia  Sea                 CMA-CGM                        0
        GÃ¶teborg    Sea                 X-Press Feeders                0

                                                         D_City_Longitude  \
O_City  D_City      Transportation mode Carrier
Aalborg Aarhus      Sea                 CMA-CGM                         0
        Bremerhaven Sea                 CMA-CGM                         2
        Copenhagen  Sea                 CMA-CGM                         1
        Fredericia  Sea                 CMA-CGM                         0
        GÃ¶teborg    Sea                 X-Press Feeders                 1

                                                         D_City_Latitude
O_City  D_City      Transportation mode Carrier
Aalborg Aarhus      Sea                 CMA-CGM                        0
        Bremerhaven Sea                 CMA-CGM                        2
        Copenhagen  Sea                 CMA-CGM                        1
        Fredericia  Sea                 CMA-CGM                        0
        GÃ¶teborg    Sea                 X-Press Feeders                1

In [8]:
# Make another dataframe to group only 3 index
df_group_3index = df.groupby(by=["O_City","D_City","Transportation mode"]).count()

In [9]:
three_level_index = list(df_group_3index.index)

In [10]:
three_level_index[:5]

[('Aalborg', 'Aarhus', 'Sea'),
 ('Aalborg', 'Bremerhaven', 'Sea'),
 ('Aalborg', 'Copenhagen', 'Sea'),
 ('Aalborg', 'Fredericia', 'Sea'),
 ('Aalborg', 'GÃ¶teborg', 'Sea')]

In [11]:
# testing
df_group.loc[three_level_index[0],:]

,O_Country_ID,O_Country,O_Terminal,D_Country_ID,D_Country,D_Terminal,Carrier_ID,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday,Number of departures per week,Transport time (days),O_City_Longitude,O_City_Latitude,D_City_Longitude,D_City_Latitude
Carrier,,,,,,,,,,,,,,,,,,,,
CMA-CGM,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,0,0,0

In [12]:
dict_carrier_number = dict()
for i, j in enumerate(three_level_index):
    dict_carrier_number[j] = len(df_group.loc[three_level_index[i],:])

In [13]:
dict_carrier_number[('Rotterdam','Antwerp','Sea')]

12

In [14]:
# Make new dataframe to contain the result
df_carrier_number = pd.DataFrame(columns=['O_City','D_City','Modality','No_carrier','departure_per_week','avg_travel_time','link_weight','o_city_lat','o_city_lon','d_city_lat','d_city_lon'], index=range(len(three_level_index)))

In [15]:
df_carrier_number.head()

,O_City,D_City,Modality,No_carrier,departure_per_week,avg_travel_time,link_weight,o_city_lat,o_city_lon,d_city_lat,d_city_lon
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
for i, j in enumerate(three_level_index):
    df_carrier_number['O_City'].iloc[i] = three_level_index[i][0]
    df_carrier_number['D_City'].iloc[i] = three_level_index[i][1]
    df_carrier_number['Modality'].iloc[i] = three_level_index[i][2]
    df_carrier_number['No_carrier'].iloc[i] = dict_carrier_number[j]

In [17]:
df_carrier_number[df_carrier_number['O_City'] == 'Rotterdam'].head()

,O_City,D_City,Modality,No_carrier,departure_per_week,avg_travel_time,link_weight,o_city_lat,o_city_lon,d_city_lat,d_city_lon
5081,Rotterdam,Aalborg,Sea,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5082,Rotterdam,Aarhus,Sea,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5083,Rotterdam,Agadir,Sea,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5084,Rotterdam,Akureyri,Sea,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5085,Rotterdam,Alblasserdam,Inland shipping,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
# Fill the coordinate
for i in range(len(df_carrier_number)):
    df_carrier_number['o_city_lat'].iloc[i] = dict_loc_origin[df_carrier_number['O_City'].iloc[i]][0]
    df_carrier_number['o_city_lon'].iloc[i] = dict_loc_origin[df_carrier_number['O_City'].iloc[i]][1]
    df_carrier_number['d_city_lat'].iloc[i] = dict_loc_destination[df_carrier_number['D_City'].iloc[i]][0]
    df_carrier_number['d_city_lon'].iloc[i] = dict_loc_destination[df_carrier_number['D_City'].iloc[i]][1]

/Users/andreas.yunus/anaconda/envs/py36/lib/python3.6/site-packages/pandas/core/indexing.py:190: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [19]:
# Combine information about number of frequency to the dataframe

In [20]:
df_freq = df.groupby(by=["O_City","D_City","Transportation mode"]).sum()

In [21]:
df_time = df.groupby(by=["O_City","D_City","Transportation mode"]).mean()

In [22]:
df_freq.loc[('Rotterdam','Antwerp','Sea'),:]['Number of departures per week']

73.0

In [23]:
df_time.loc[('Rotterdam','Antwerp','Sea'),:]['Transport time (days)']

5.6440677966101696

In [24]:
for i, j in enumerate(three_level_index):
    df_carrier_number['departure_per_week'].iloc[i] = df_freq.loc[j]["Number of departures per week"]
    df_carrier_number['avg_travel_time'].iloc[i] = df_time.loc[j]["Transport time (days)"]

/Users/andreas.yunus/anaconda/envs/py36/lib/python3.6/site-packages/pandas/core/indexing.py:190: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [25]:
df_carrier_number[df_carrier_number['O_City'] == 'Rotterdam'].head()

,O_City,D_City,Modality,No_carrier,departure_per_week,avg_travel_time,link_weight,o_city_lat,o_city_lon,d_city_lat,d_city_lon
5081,Rotterdam,Aalborg,Sea,1,4,2.75,NaN,51.9278,4.48862,NaN,NaN
5082,Rotterdam,Aarhus,Sea,5,8,2.875,NaN,51.9278,4.48862,NaN,NaN
5083,Rotterdam,Agadir,Sea,2,5,8.5,NaN,51.9278,4.48862,NaN,NaN
5084,Rotterdam,Akureyri,Sea,1,1,8,NaN,51.9278,4.48862,NaN,NaN
5085,Rotterdam,Alblasserdam,Inland shipping,1,6,1,NaN,51.9278,4.48862,51.86,4.6662

In [26]:
#for i in range(len(df_carrier_number)):
 #   df_carrier_number['link_weight'][i] = (df_carrier_number['No_carrier'].iloc[i] * df_carrier_number['departure_per_week'].iloc[i])/df_carrier_number['travel_time'].iloc[i]

In [27]:
#df_carrier_number.head()

In [28]:
df_carrier_number['link_weight'] = df_carrier_number['departure_per_week']

In [29]:
df_carrier_number.to_csv("link_weight_2017.csv",index=False)

In [30]:
# Modify link weight

In [31]:
# Modify file centrality by weight
# Modify file weighted link - done
# modify file 12 hubs by weight - done
# PCA - unweighted vs weighted
# PCA - clustering by numbers, by multiplexity, by K-core itself